html {

  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  font-family: sans-serif;
  color: #fff;
  margin: 0;
}
h1 {
  text-align: center;
  font-family: Bevan, sans-serif;
  color: #fff;
  margin-bottom: 0;
}
.cards {
  list-style-type: none;
  text-align: center;
  border-top: 5px solid #595652;
  border-bottom: 5px solid #595652;
  background-color: #79756f;
  width: 100%;
}

.cards li {
  display: inline-block;
  margin: .3em;
  padding: .6em .5em .75em;
  background-color: #79756f;
}

.cards a {
  display: inline-block;
  padding: 1em;
  background-color: #713837;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.cards a:hover {
  background-color: #f33;
}
